{{ if eq .osid "linux-cachyos" -}}
source /usr/share/cachyos-fish-config/cachyos-config.fish
{{ else -}}
if test -f ~/.fish_profile
    source ~/.fish_profile
end

# Add ~/.local/bin to PATH
if test -d ~/.local/bin
    if not contains -- ~/.local/bin $PATH
        set -p PATH ~/.local/bin
    end
end
{{ end -}}

function fish_greeting
    # show nothing
end
