{{ if eq .osid "linux-arch" -}}
#!/bin/bash

if ! command -v paru >/dev/null 2>&1; then
    sudo pacman -S --needed --noconfirm base-devel
    git clone https://aur.archlinux.org/paru.git
    pushd paru
    makepkg -si
    popd
    rm -rf paru
fi

paru -S --needed --noconfirm {{ .packages.arch.core | join " " }}

{{      if not .headless }}
paru -S --needed --noconfirm {{ .packages.arch.desktop | join " " }}
{{      end }}
{{ end -}}
