{{- $validOs := list "linux-arch" "linux-cachyos" -}}
{{ if has .osid $validOs -}}
#!/bin/bash
set -euo pipefail

echo "Updating Arch repositories"
sudo pacman -Syu

echo "Installing core packages..."
paru -S --needed {{ .packages.arch.core | join " " }}
{{ end -}}
