{{ if .niri -}}
#!/bin/bash

set -euo pipefail

{{ if eq .osid "linux-arch" -}}
echo "Installing gpu-related packages..."
paru -S --needed {{ .packages.arch.gpu | join " " }}
{{ end -}}

echo "Installing gui-related packages..."
paru -S --needed {{ .packages.arch.gui | join " " }}

echo "Installing font packages..."
paru -S --needed {{ .packages.arch.fonts | join " " }}

echo "Installing niri-related packages..."
paru -S --needed {{ .packages.arch.niri | join " " }}
{{ end -}}
