{{ if eq .osid "linux-arch" -}}
#!/bin/bash

if ! command -v paru >/dev/null 2>&1; then
    echo "paru not found, installing..."
    sudo pacman -S --needed base-devel
    git clone https://aur.archlinux.org/paru.git
    pushd paru
    makepkg -si
    popd
    rm -rf paru
fi

CORE_PACKAGES=(
    eza
    fd
    fish
    fzf
    lazygit
    mise
    neovim-git
    openai-codex-bin
    opencode-bin
    ripgrep
    starship
    usage
    wget
    xdg-utils
    yazi
    zellij
    zoxide
)

echo "Installing core packages..."
paru -S --needed ${CORE_PACKAGES[@]}

{{ if not .headless -}}
DESKTOP_PACKAGES=(
    adw-gtk-theme
    cliphist
    cursor-bin
    evolution-data-server
    foot
    fuzzel
    nautilus
    niri
    noctalia-shell
    nwg-look
    python3
    t3code-bin
    vscodium
    wlsunset
    xdg-desktop-portal
    xdg-desktop-portal-gnome
    xdg-desktop-portal-gtk
    xwayland-satellite
    zed
)

FONT_PACKAGES=(
    noto-fonts
    noto-fonts-cjk
    noto-fonts-emoji
    ttf-dejavu
    ttf-jetbrains-mono-nerd
)

echo "Installing desktop-related packages..."
paru -S --needed ${DESKTOP_PACKAGES[@]}

echo "Installing font packages..."
paru -S --needed ${FONT_PACKAGES[@]}
{{ end -}}
{{ if .wsl -}}
WSL_PACKAGES=(
    wsl2-ssh-agent
)

echo "Installing WSL-related packages..."
paru -S --needed ${WSL_PACKAGES[@]}
{{ end -}}
{{ end -}}
