{{ if .niri -}}
#!/bin/bash

NIRI_PACKAGES=(
    adw-gtk-theme
    cliphist
    dms-shell-niri
    evolution-data-server
    foot
    mpv
    nautilus
    niri
    nwg-look
    python3
    wlsunset
    xclip
    xdg-desktop-portal
    xdg-desktop-portal-gnome
    xdg-desktop-portal-gtk
    xwayland-satellite
)

echo "Installing niri-related packages..."
paru -S --needed ${NIRI_PACKAGES[@]}
{{ end -}}