{
  "$schema": "https://opencode.ai/config.json",
  "lsp": true,
  "plugin": ["@plannotator/opencode@latest"],
  "mcp": {
    "chrome-devtools": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "chrome-devtools-mcp@latest",
        "--executable-path",
        "{{ if eq .chezmoi.os "darwin" }}/Applications/Helium.app/Contents/MacOS/Helium{{ else }}/usr/bin/helium-browser{{ end }}"
      ]
    }
  }
}
