{{- $choices := list "laptop" "work" -}}
{{- $hosttype := promptChoiceOnce . "hosttype" "What type of host are you on" $choices -}}
{{- $osid := .chezmoi.os -}}
{{- $email := "me@nollidnosnhoj.com" -}}
{{- $name := "Dillon Johnson" -}}
{{- $niri := false -}}
{{- $wsl := false -}}

{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-     $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-     $wsl = (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- end -}}

{{- if eq $hosttype "work" -}}
{{-     $email = "rjohnson@gericall.nl" -}}
{{-     $name = "Randall Dillon Johnson" -}}
{{- end -}}

{{- if (and (eq .chezmoi.os "linux") (not $wsl)) -}}
{{-     $niri = promptBool "Install niri?" -}}
{{- end -}}

data:
    name: {{ $name | quote }}
    osid: {{ $osid | quote }}
    email: {{ $email | quote }}
    hosttype: {{ $hosttype | quote }}
    niri: {{ $niri }}
    wsl: {{ $wsl }}
