{{- $osid := .chezmoi.os -}}
{{- $email := "me@nollidnosnhoj.com" -}}
{{- $name := "Dillon Johnson" -}}
{{- $work := false -}}

{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-     $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- else if eq .chezmoi.os "darwin" -}}
{{-     $osid = "darwin" -}}
{{- end -}}

{{- if eq $osid "darwin" -}}
{{-     $work = true -}}
{{- end -}}

{{- if eq $work true -}}
{{-     $email = "rjohnson@gericall.nl" -}}
{{-     $name = "Randall Dillon Johnson" -}}
{{- end -}}

data:
    name: {{ $name | quote }}
    osid: {{ $osid | quote }}
    email: {{ $email | quote }}
    linux: {{ eq .chezmoi.os "linux" }}
    work: {{ $work }}
    wsl: {{ and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    packages:
        pacman:
        # desktop
        - niri
        - xwayland-satellite
        - xdg-desktop-portal-gnome
        - xdg-desktop-portal-gtk
        - noctalia-shell
        - nautilus
        - foot
        - ghostty
        - zed
        - vscodium
        - cursor-bin
        - adw-gtk-theme
        - nwg-look
        # fonts
        - noto-fonts
        - noto-fonts-cjk
        - noto-fonts-emoji
        - ttf-dejavu
        - ttf-jetbrains-mono-nerd
        # shell
        - fish
        - mise
        - neovim-git
        - yazi
        - starship
        - zellij
        - fzf
        - zoxide
        - eza
        - ripgrep
        - opencode-bin
        - fd
        - lazygit
        - wget
