theme=TokyoNight
confirm-close-surface = false
mouse-hide-while-typing = true

window-padding-x = 5
window-padding-y = 5

clipboard-read = "allow"
clipboard-paste-protection = false

font-family=ComicShannsMono Nerd Font
font-size = 16

{{- if eq .osid "darwin" }}
macos-window-shadow = false
{{- end }}
