[settings]
experimental = true

[tools]
aspire = "latest"
bun = "latest"
{{ if eq .osid "linux-cachyos" -}}
dotnet = "10"
{{- end }}
go = "latest"
herdr = "latest"
java = "latest"
node = "latest"
opencode = "latest"
pi = "latest"
pnpm = "latest"
