[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
{{- if eq .hosttype "work" }}
	signingkey = "~/.ssh/id_rsa.pub"
{{- else if eq .hosttype "wsl" }}
	signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP2ieFj6mYYyynIan2yoldvMGmJbxiw7Od36eUsSbDP9 me@nollidnosnhoj.com"
{{- else }}
	signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPkExA5Pq9X6f3jyBJuJBodFmrUc2aRIRw2KKgadS3x4 me@nollidnosnhoj.com"
{{- end }}
[advice]
	addEmptyPathspec = false
	pushNonFastForward = false
	statusHints = false
[branch]
	sort = -committerdate
[column]
	ui = auto
[core]
	editor = nvim
	{{- if lookPath "less" }}
	pager = less
	{{- else }}
	pager = cat
	{{- end }}
	whitespace = trailing-space,space-before-tab
[diff]
	algorithm = histogram
	colorMoved = plain
	renamelimit = 8192
	renames = true
[fetch]
	all = true
	fsckobjects = false
	prune = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
    defaultBranch = "main"
[tag]
    gpgsign = true
[merge]
	conflictStyle = zdiff3
[pager]
	branch = false
	grep = false
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = current
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
[receive]
	fsckobjects = true
[status]
	submoduleSummary = true
{{- $ghPath := lookPath "gh" }}
{{- if $ghPath }}
[credential "https://github.com"]
	helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
	helper = !{{ $ghPath }} auth git-credential
{{- end }}
